{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URLshortner</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" />
  </head>
  <body>
    <form action="" id="post-form">
        {% csrf_token %}
      <h1>URLshortner</h1>
      <input type="text" id="text" name="link" placeholder="Enter your url here...">
      <div class="buttons">
          <button type="submit" id="shorten">Shorten</button>
      </div>
    </form>
    <section id="section"></section>
  </body>
</html>
